body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.startPlaying {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 12px;
  font-weight: bold;
}

.startPlaying {
  background-color: #4CAF50;
}

.startPlaying:hover, .startButton:hover {
  background-color: #3e8e41;
}

.viewLevels {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 12px;
  font-weight: bold;
}

.viewLevels {
  background-color: #3c8ec6;
}

.viewLevels:hover {
  background-color: #3276a4;
}

.startButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 24px;
  border-radius: 12px;
  font-weight: bold;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay, .gameOverlay {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gameOverlay {
  background-color: rgba(0,0,0,0.6);
}

.finishedView {
  background-color: rgba(57, 62, 73, 0.95);
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 50px;
}

.levelPanel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  background-color: #393e49;
  border-radius: 20px;
  padding: 10px;
}

.levelPreview {
  margin: 10px;
}

.homeButton {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: #393e49;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}

.buttonIcon {
  margin-right: 10px;
  color: white;
  filter: invert(100%);
}
